input[type="radio"], input[type="checkbox"]{
    float:right;
    margin-top:5px;
}
label, #filterSort h4{
    display:block;
    padding: 0 20px;
}
label:nth-of-type(odd){
    background-color:#efefef;
}
#filterSort button{
    margin-left:10px;
}

label i{
    font-size:12px;
}

@keyframes shrink{
    0%{transform:scale(1)}
    100%{transform: scale(0)}
}

@keyframes grow{
    0%{transform:scale(0)}
    100%{transform: scale(1)}
}

sup{
    font-size:10px;
}

aside{
    position:fixed;
    width:200px;
    margin-left:50px;
    padding-top:20px;
    padding-bottom:50px;
    overflow-y:scroll;
    max-height:100vh
}

aside::-webkit-scrollbar {
    width: 5px;
}

/* Track */
aside::-webkit-scrollbar-track {
    background: lightgray;
}

/* Handle */
aside::-webkit-scrollbar-thumb {
    background:#50A70A;
    border-radius:32px; 
}

.card{
    margin:20px;
    width:300px;
    border:none;
    position:relative;
}

.card-body{
    padding:20px 0 0;
}

.card .btn-primary{
    background-color: #50A70A;
    border-color: #50A70A;
}

i.fa-check-circle{
    color:#50A70A;
    font-size:36px;
    position:absolute;
    top:-20px;
    right:-20px;
    background-color:white;
    border-radius:50%;
    border:10px solid white;
}

.hidden{
    display:none;
}

#adopt{
    overflow-x:hidden;
}

.col-md-3{
    min-height:100vh;

}

.row{
    justify-content: space-between;
}

.filterbtn{
    display:none;
}

/*===== Media Queries =====*/

@media screen and (max-width: 1389px){
    #adopt .card{
        width:275px
    }
}

@media screen and (max-width:1285px){
    #adopt .card{
        width:250px;
        margin:10px;
    }
}

@media screen and (max-width:1100px){
    #adopt .card{
        width: 350px;
    }
    #adopt aside{
        margin-left:20px;
    }
}

@media screen and (max-width: 1012px){
    #adopt .card{
        width:300px;
    }
}

@media screen and (max-width: 767px){
    .col-md-3{
        min-height:0px;
        border:2px solid #50A70A
    }
    form i{
        letter-spacing:-5px;
    }

    #adopt .col-md-3 aside{
        position:static;
        outline:1px solid white;
        width:100%;
        margin:0
    }

    #adopt .col-md-3 form{
        width:100%;
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap
    }

    hr{display:none;}

    input{
        margin-left:20px;
    }
    form h5{
        text-align:center;
    }

    #adopt .card{
        width:250px;
        /* margin:0; */
    }

    .col-md-9{

        padding:0;
    }
}


@media screen and (max-width: 575px){
    #adopt .card{
        width:90%;
        margin: 20px auto;
        position:relative;
    }

    #adopt .card img{
        position:absolute;
        left: -50px;
        width:300px;
        clip: rect(0px,210px,200px, 50px);
    }

    #adopt .card-body{
        padding:0 0 0 180px;
    }

    .card-body .btn{
        position:absolute;
        left:0;
        top:220px;
        width:160px;
        }

    .fa-check-circle{
        left:0px;
        right:initial;
    }

    form{
        overflow:hidden;
        height:0px;
        height:320px;
        width:100%;
        
    }
    .col-md-3{
        position:fixed;
        top:0;
        left:0;
        z-index:999;
        padding:0;
        background-color:white;
        left:-800px;
    }
        

    .filterbtn{
        display:block;
          position:fixed;
        font-size:30px;
        text-align:center;
        line-height:55px;
        color:white;
        height:50px;
        width:50px;
        border-radius:50%;
        background-color: #50A70A;
        z-index:9999;
        bottom:20px;
        right:20px;
    }

    @keyframes slideOut{
        0%{left:-800px}
        100%{left:0}
    }
    @keyframes slideIn{
        0%{left:0}
        100%{left:-800px}
    }
}
